@using TradeSphereECommerceApp.Models
@{
    Member user = Session["user"] as Member;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trade Sphere @ViewBag.Title</title>
    <link href="~/Assets/css/UIMainStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="topbanner">
        <div class="boxedlayout">
            <a href="#">Yardım & Destek</a>
            <a href="#">Hakkımızda</a>
            <a href="#">İndirim Kuponlarım</a>
            <a href="@Url.Action("Create","Seller")">Trade Sphere'da Satıcı Ol</a>
        </div>
    </div>

    <div class="topbannerlogo">
        <div class="boxedlayout">
            <div class="logo-search-container">
                <img src="~/Assets/PageImages/ProjeLogo1.png" class="logoimage" />
                <div class="search-container">
                    <input type="text" placeholder="Aradığınız ürün,kategori veya markayı yazınız..." class="search-input" />
                </div>
            </div>
            <div class="user-cart-favorites">
                <div class="user">
                    <img src="~/Assets/PageImages/user.png" class="user-icon"  />
                    @if (Session["user"] != null)
                    {
                        <a href="@Url.Action("Logout", "Login")">Çıkış Yap/</a>
                        <a href="@Url.Action("Index", "Member")">Hesabım</a>

                    }
                    else
                    {
                        <a href="@Url.Action("Index","Login")">Giriş Yap/</a>
                        <a href="@Url.Action("Index","Register")" style="padding:0;">Üye Ol</a>
                    }
                </div>
                <div class="favorites">
                    <img src="~/Assets/PageImages/heart(2).png" class="favorites-icon" />
                    <a href="#">Favorilerim</a>
                </div>
                <div class="cart">
                    <img src="~/Assets/PageImages/shopping-cart.png" class="cart-icon" />
                    <a href="#">Sepetim</a>
                </div>
            </div>
        </div>

    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
