@model TradeSphereECommerceApp.Models.Brand
@{
    @{
        ViewBag.Title = "Create";
        Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
    }

    <div class="breadCrumb">
        <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
        <label>Markalar</label>
    </div>

    <div class="pageContent">
        <div class="pagetitle">

            <h2>Marka Ekle</h2>
            <div style="clear:both"></div>
        </div>
        <div class="formContent">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    <div class="row">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.IsActive) Aktif Marka
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <input type="submit" value="Marka Ekle" class="btn-default" />
                        <div style="clear:both"></div>
                    </div>
                </div>

            }

        </div>
        <div class="formfooter">
            @Html.ActionLink("Marka Listesine Geri Dön", "Index")
            <div style="clear:both"></div>
        </div>
    </div>

    @section styles
    {
        <link href="~/Areas/ManagerPanel/Assests/css/FormStyle.css" rel="stylesheet" />
    }


