@model TradeSphereECommerceApp.Models.Brand
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <a href="@Url.Action("Index", "Brand")">Markalar</a> >
    <label>Marka Sil</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Marka Sil</h2>
    </div>
    <div class="formContent">
        <h3>Bu Markayı silmek istediğinize emin misiniz?</h3>
        <table border="1" cellpadding="5" cellspacing="0" style="border:1px solid silver" width="600" class="table">
            <tr>
                <th align="left" width="30%">ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th align="left">Marka Adı</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th align="left">Marka Durum</th>
                <td>@Model.IsActive</td>
            </tr>
            <tr>
                <th align="left">SİLİNME DURUMU</th>
                <td>
                    @if (Model.IsDeleted)
                    {
                        <label>Silinmiş</label>
                    }
                    else
                    {
                        <label>Silinmemiş</label>
                    }
                </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            <div class="row">
                <input type="submit" value="Marka Sil" class="btn btn-default" />
            </div>
        }

    </div>
    <div class="formfooter">
        @Html.ActionLink("Markalar Listesine Dön", "Index")
    </div>
</div>
@section styles
{
    <link href="~/Areas/ManagerPanel/Assests/css/FormStyle.css" rel="stylesheet" />
}


