@model IEnumerable<TradeSphereECommerceApp.Models.Comment>
@{
    ViewBag.Title = "Tüm Yorumlar";
    Layout = "~/Areas/SellerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Yorumlar</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Yorumlar</h2>
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr>
                <th style="border-left:none">
                    Yorum No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentText)
                </th>
                <th>
                    Ürün Adı
                </th>
                <th>
                    Üye Kullanıcı Adı
                </th>
                <th>
                    Yorum Tarihi
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.IsDeleted)
                {
                    <tr style="background-color:#f33636">
                        <td style="border-left:none">@item.ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.UserName)
                        </td>
                        <td>
                            @item.CreationTime.ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Pasif</label>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("ReDelete","Comment",new {id=item.ID})" class="btndelete">Silme İşlemini Geri Al</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="border-left:none">@item.ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.UserName)
                        </td>
                        <td>
                            @item.CreationTime.ToString("yyyy-MM-dd HH:mm")
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Pasif</label>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Comment",new {id=item.ID})" class="btndelete">Sil</a>
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
    <div class="tablefooter">
        <a href="@Url.Action("Index","Comment")">Yorumları Listele</a>
    </div>
</div>

@section styles
{
    <link href="~/Areas/ManagerPanel/Assests/css/TableStyle.css" rel="stylesheet" />
}