@model TradeSphereECommerceApp.Models.Comment
@{
    ViewBag.Title = "Yorum Sil";
    Layout = "~/Areas/SellerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <a href="@Url.Action("Index", "Comments")">Yorumlar</a> >
    <label>Yorum Sil</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Yorum Sil</h2>
    </div>
    <div class="formContent">
        <h3>Bu yorumu silmek istediğinize emin misiniz?</h3>
        <table border="1" cellpadding="5" cellspacing="0" style="border:1px solid silver" width="600" class="table">
            <tr>
                <th align="left" width="30%">Yorum ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th align="left">Yorum Metni</th>
                <td>@Model.CommentText</td>
            </tr>
            <tr>
                <th align="left">Üye Kullanıcı Adı</th>
                <td>@Model.Member.UserName</td>
            </tr>
            <tr>
                <th align="left">Yorum Tarihi</th>
                <td>@Model.CreationTime.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
            <tr>
                <th align="left">Yorum Durumu</th>
                <td>@Model.IsActive</td>
            </tr>
            <tr>
                <th align="left">Silinme Durumu</th>
                <td>
                    @if (Model.IsDeleted)
                    {
                        <label>Silinmiş</label>
                    }
                    else
                    {
                        <label>Silinmemiş</label>
                    }
                </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <input type="submit" value="Yorumu Sil" class="btn" />
            </div>
        }
    </div>
    <div class="formfooter">
        @Html.ActionLink("Yorumlar Listesine Dön", "Index")
    </div>
</div>

@section styles
{
    <link href="~/Areas/ManagerPanel/Assests/css/FormStyle.css" rel="stylesheet" />
}
