@model IEnumerable<TradeSphereECommerceApp.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Üyeler</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Üyeler</h2>
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr>
                <th style="border-left:none">Üye No</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Surname)</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.Mail)</th>
                <th>@Html.DisplayNameFor(model => model.CreationTime)</th>
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var member in Model)
            {
                <tr>
                    <td style="border-left:none">@member.ID</td>
                    <td>@Html.DisplayFor(modelItem => member.Name)</td>
                    <td>@Html.DisplayFor(modelItem => member.Surname)</td>
                    <td>@Html.DisplayFor(modelItem => member.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => member.Mail)</td>
                    <td>@Html.DisplayFor(modelItem => member.CreationTime)</td>
                    <td>
                        @if (member.IsActive)
                        {
                            <label>Aktif</label>
                        }
                        else
                        {
                            <label>Pasif</label>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Member", new { id = member.ID })" class="btndelete">Sil</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="tablefooter">
        <a href="@Url.Action("AllIndex", "Member")">Tüm Üyeleri Listele</a>
    </div>
</div>




@section styles
    {
    <link href="~/Areas/ManagerPanel/Assests/css/TableStyle.css" rel="stylesheet" />
}



