
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="loginForm">
    <h2>Şifremi Unuttum</h2>
    @using (Html.BeginForm())
    {
        if (ViewBag.Warning != null)
        {
            <div class="warningMessage">
                <p>@ViewBag.Warning</p>
            </div>
        }

        if (ViewBag.Success != null)
        {
            <div class="successMessage">
                <p>@ViewBag.Success</p>
            </div>
        }

        <div class="row">
            @Html.Label("Kullanıcı Adı veya E-posta")
            @Html.TextBox("userNameOrEmail", null, new { @class = "form-control" })
        </div>

        <div class="row">
            @Html.Label("Yeni Şifre")
            @Html.Password("newPassword", null, new { @class = "form-control" })
        </div>

        <div class="row">
            <button type="submit" class="btn">Şifreyi Güncelle</button>
        </div>

        <div class="row">
            <a href="@Url.Action("Index", "Login")">Giriş Yapmak İçin Tıklayın</a>
        </div>
    }
</div>
