@model List<TradeSphereECommerceApp.Models.Comment>
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Profil</label> >
    <label>Yorumlarım</label>
</div>

<div class="main-content">
    <div class="member-panel-container">
        <div class="member-panel">
            <a href="@Url.Action("Index","ShoppingCart")">Sepetim</a>
            <a href="@Url.Action("Favorites","Member")">Favorilerim</a>
            <a href="#">Yorumlarım</a>
            <a href="#">Siparişlerim</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Edit","Member")">Kullanıcı Bilgilerim</a>
            <a href="#">Adres Bilgilerim</a>
            <a href="#">Kayıtlı Kartlar</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Logout", "Login")">Çıkış</a>
        </div>
    </div>

    <div class="commentsBase">
        <h2>Yorumlarım</h2>
        @if (Model != null && Model.Any())
        {
            <table class="commentsTable">
                <tr class="headerRow">
                    <th>ÜRÜN RESMİ</th>
                    <th>ÜRÜN ADI</th>
                    <th>YORUM</th>
                    <th>TARİH</th>
                    <th>DÜZENLE</th>
                </tr>
                @foreach (var comment in Model)
                {
                    <tr>
                        <td style="text-align:center"><img src="~/Assets/ProductImages/@comment.Product.Image" class="productImage" /></td>
                        <td>@comment.Product.Name</td>
                        <td>@comment.CommentText</td>
                        <td>@comment.CreationTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>
                            <a href="@Url.Action("EditComment", "Member", new { id = comment.ID })" class="productLink">Düzenle</a>
                            |
                            <a href="@Url.Action("DeleteComment", "Member", new { id = comment.ID })" class="productLink" >Sil</a>
                            |
                            <a href="@Url.Action("Detail", "Product", new { id = comment.Product.ID })" class="productLink">ÜRÜNE GİT</a>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Henüz yorum yapmadınız.</p>
        }
    </div>

    <div style="clear:both"></div>
</div>
