@model TradeSphereECommerceApp.Models.Member
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Profil</label> >
    <label>Bilgilerim</label>
</div>

<div class="main-content">
    <div class="member-panel-container">
        <div class="member-panel">
            <a href="@Url.Action("Index","ShoppingCart")">Sepetim</a>
            <a href="@Url.Action("Favorites","Member")">Favorilerim</a>
            <a href="@Url.Action("Comments","Member")">Yorumlarım</a>
            <a href="#">Siparişlerim</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Edit","Member")">Kullanıcı Bilgilerim</a>
            <a href="#">Adres Bilgilerim</a>
            <a href="#">Kayıtlı Kartlar</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Logout", "Login")">Çıkış</a>
        </div>
    </div>
    <div class="profileBase">
        <h2>Profil Bilgilerini Düzenle</h2>

        @using (Html.BeginForm("Edit", "Member", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            if (ViewBag.Success != null)
            {
                <div class="successMessage">
                    <p>@ViewBag.Success</p>
                </div>
            }

            if (ViewBag.Warning != null)
            {
                <div class="warningMessage">
                    <p>@ViewBag.Warning</p>
                </div>
            }

            <div class="row">
                @Html.LabelFor(model => model.Name, "Ad")
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Surname, "Soyad")
                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.UserName, "Kullanıcı Adı")
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Mail, "E-Posta")
                @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", @type = "email" })
                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Password, "Şifre")
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <button type="submit" class="btn">Bilgileri Güncelle</button>
            </div>
        }

        <div style="clear:both"></div>
    </div>

</div>




