@model List<TradeSphereECommerceApp.Models.Product>
@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Profil</label> >
    <label>Favoriler</label>
</div>
<div class="main-content">
    <div class="member-panel-container">
        <div class="member-panel">
            <a href="@Url.Action("Index","ShoppingCart")">Sepetim</a>
            <a href="@Url.Action("Favorites","Member")">Favorilerim</a>
            <a href="@Url.Action("Comments","Member")">Yorumlarım</a>
            <a href="#">Siparişlerim</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Edit","Member")">Kullanıcı Bilgilerim</a>
            <a href="#">Adres Bilgilerim</a>
            <a href="#">Kayıtlı Kartlar</a>
        </div>
        <div class="member-panel">
            <a href="@Url.Action("Logout", "Login")">Çıkış</a>
        </div>
    </div>
    <div class="favoriteBase">
        <h2>Favori Ürünlerim</h2>
        @if (Model != null && Model.Any())
        {
            <table class="favoriteProducts">
                <tr class="headerRow">
                    <th>ÜRÜN RESMİ</th>
                    <th>Ürün Adı</th>
                    <th>FİYAT</th>
                    <th>Detaylar</th>
                </tr>
                @foreach (var product in Model)
                {
                    <tr>
                        <td style="text-align:center"><img src="~/Assets/ProductImages/@product.Image" /></td>
                        <td>@product.Name</td>
                        <td>@product.Price,00 ₺</td>
                        <td><a href="@Url.Action("Detail", "Product", new { id = product.ID })">Ürün'e git</a></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p class="emptyFavorites">Favorilerinizde ürün bulunmamaktadır.</p>
        }
    </div>
    <div style="clear:both"></div>
</div>


   

