@model IEnumerable<TradeSphereECommerceApp.Models.Category>
@{
    ViewBag.Title = "AllIndex";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Kategoriler</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        @Html.ActionLink("Kategori Oluştur", "Create")
        <h2>Kategoriler</h2>
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr>
                <th style="border-left:none">
                    Kategori No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.IsDeleted)
                {
                    <tr style="background-color:#ea2a2a">
                        <td style="border-left:none">@item.ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Pasif</label>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Category",new {id=item.ID})" class="btnedit">Düzenle</a>
                            <a href="@Url.Action("ReDelete","Category",new {id=item.ID})" class="btndelete">Silme İşlemini Geri Al</a>

                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="border-left:none">@item.ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <label>Aktif</label>
                            }
                            else
                            {
                                <label>Pasif</label>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Category",new {id=item.ID})" class="btnedit">Düzenle</a>
                            <a href="@Url.Action("Delete","Category",new {id=item.ID})" class="btndelete">Sil</a>
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
    <div class="tablefooter">
        <a href="@Url.Action("Index","Category")">Kategorileri Listele</a>
    </div>
</div>


@section styles
    {
    <link href="~/Areas/ManagerPanel/Assests/css/TableStyle.css" rel="stylesheet" />
}



