@model TradeSphereECommerceApp.Models.Category
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <a href="@Url.Action("Index", "Category")">Kategoriler</a> >
    <label>Kategori Güncelle</label>
</div>

<div class="pageContent">
    <div class="pagetitle">
        <h2>Kategori Güncelle</h2>
    </div>
    <div class="formContent">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID);
            <div class="row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.IsActive) Aktif Kategori
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <input type="submit" value="Kategori Güncelle" class="btn-default" />
            </div>
        }

    </div>
    <div class="formfooter">
        @Html.ActionLink("Kategoriler Listesine Dön", "Index")
    </div>
</div>

@section styles
{
    <link href="~/Areas/ManagerPanel/Assests/css/FormStyle.css" rel="stylesheet" />
}



