@model TradeSphereECommerceApp.Areas.SellerPanel.Data.ViewModels.SellerLoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trade Sphere Satıcı Giriş @ViewBag.Title</title>
    <link href="~/Areas/ManagerPanel/Assests/css/LoginStyle.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="panelContainer">
            <div class="title"><h1>SATICI GİRİŞ</h1></div>
            <div>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary();
                    if (ViewBag.warning != null)
                    {
                        <div class="validation-summary-errors">
                            <div>@ViewBag.warning</div>
                        </div>
                    }
                    <div class="row">
                        @Html.EditorFor(x => x.Mail, new { htmlAttributes = new { @class = "input rounded", @placeholder = "Mail Adresiniz" } })
                    </div>
                    <div class="row">
                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "input rounded", @placeholder = "Şifreniz" } })
                    </div>
                    <div class="row">
                        <input type="submit" class="button rounded" value="GİRİŞ YAPIN" />
                    </div>

                }
            </div>
        </div>
    </div>
</body>
</html>

